@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Staatliches&display=swap');

:root {
    --primary-color: #fcd530;
    --shadow-color: #131313;
    --black-color: #0a0a0a;
    --light-color: #f9f7ef;
}

/* GENERAL RULES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

ul {
    list-style-type: none;
}

/* UTILITIES */

/* MAIN HEADER SECTION*/

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--shadow-color);
    height: 30vh;
    width: 100%;
}

/* logo */

.logo {
    max-width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo i {
    color: var(--primary-color);
}

.logo-txt {
    font-family: "Staatliches", cursive;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}

/* navbar */

.header-nav {
    padding: .5rem;
}

.header-nav ul {
    display: flex;
}

.header-nav-item {
    font-size: 1.1rem;
}

.header-nav-item:hover {
    border-bottom: 1px solid var(--primary-color);
}

.header-nav-item a {
    display: inline-block;
    padding: 1rem;
}

.header-nav-item a:hover {
    color: var(--primary-color);
}

/* HERO SECTION*/

.hero {
    position: relative;
    overflow: hidden;
    background-image: url(/images/hamburger-bg.jpg);
    background-size: cover;
    height: 30rem;

    display: grid;
    place-items: center;
}

.hero-container {
    max-width: 600px;
}

.hero-card {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 1rem;
    box-shadow: 0 0 7px 2px var(--black-color)
}

.hero-text {
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
    padding: 0 1.5rem;
}

/* CARDAPIO */
.cardapio {
    background: var(--primary-color);
    height: 100%;  
}

.cardapio-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardapio-card {
    flex-basis: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 1rem;
    box-shadow: 0 0 9px 0px var(--black-color);
    margin: 1rem;
}

.cardapio-card > *:first-child {
    max-width: 400px ;
    margin: 1rem;
}

.cardapio-card p {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.cardapio-card img {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

/* .img-mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
} */



/* MEDIA QUERIES */

/* Mobile ++ */
@media (min-width: 500px) {}
/* Tablets ++ */
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 25vh;
    }

    .cardapio-container {
        flex-direction: row;
        max-width: 80%;    
    }    
}